/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require refinery/formatting
*= require refinery/theme
*= require font-awesome
*= require_self
*/

@import 'normalize';

*{
  font-family: Verdana, Arial, Helvetica;
}
a{
  color: #000;
  text-decoration: none !important;
  font-weight: bold;
}
a:hover{
  color: #CD0000;
  transition: color 0.2s;
  text-shadow: 3px 4px 6px rgba(150, 150, 150, 1);
}
body{
  background: url("/assets/fundo-direita.png") repeat-y right top !important;
  background-color: #fff;
  margin-top: 120px;
}
.container-fluid {
  background:url("/assets/fundo-esquerda.png") repeat-y left top !important;
}
#top{
  height: 150px;
  margin: 0 auto;
  width: 70%;
  background: url("/assets/fundo-topo.svg") no-repeat right top #fff;
  background-size: 100%;
  background-position: -50px -35px;
}

#top .navbar-default{
  z-index: 20 !important;
  padding: 1%;
  float: right;
  width: 100%;
  margin: 10% 0 0;
  background: #bdc3c7;
  border-radius: 20px;
  border: none;

}
.navbar-default .navbar-nav > li > a{
  color: #fff !important;
}

nav.navbar.navbar-default.navbar-fixed-top{
  background: #EF4836;
  padding:2%;
  border: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: rgb(207, 36, 36)!important;
}
ul.dropdown-menu {
  background: rgb(207, 36, 36)!important;;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
  color: #fff;
  padding: 2%;
  background: #CF000F;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
  font-weight:bold;
  color: #fff;
}


#logo{
  position: fixed;
  top:5px;
  z-index: 100;
}
#logo img{
  width:95px;
}

h1 {
  display: none;
}

#footer {
  border-top: 1px solid #bdbdbd;
  padding:2%;
  background-color: #EFEFEF;
  height: auto !important;
}
.inventto{
  width:100%;
  background:#333;
  color: #6C7A89;
  font-family: Helvetica;
  font-size:10px;
  padding:1%;
}
.inventto img{
  height:20px;
}
.endereco{
  text-align: center;
  margin-top: 1%;
}
#carousel-home-fotos .item img {
  width: 100%;
  height: auto !important;
}
.historia,
.valores {
  padding: 1%;
  margin-bottom: 5px;
  text-align: justify;
  background: #e0e3e5 !important;
  border-radius: 8px;
}
.professor, .modalidade {
  background: #e0e3e5 !important;
  border-radius: 8px;
}
.professor{
  margin: 5px;
  min-height:450px;
  text-align: justify;
  padding: 4%;
}
.professor img{
  margin:10px auto;
}
.nome-professor{
  text-align:center;
}
.modalidade{
  min-height:250px;
}
.modalidade img{
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
}
.nome-modalidade{
  text-align:center;
}

.valores {
  margin-bottom: 2%;
}
.missao {
  padding: 4%;
  text-align: center;
  background: #e0e3e5 !important;
  border-radius: 8px;
  margin-bottom:4%;
}
.titulo_missao {
  font-weight: bold;
  color: #CD0000 !important;
}

.titulo_historia {
  font-weight: bold;
  color: #CD0000 !important;
}
.contato-descricao {
  text-align: center;
  background: #e0e3e5 !important;
  padding: 10px;
  margin: 2%;
  border-radius: 8px;
}
.title-contato {
  text-align: center;
  font-weight: bold;
  color: #CD0000 !important;
}

.imagem-personal-trainer img {
  margin-left: 40px !important;
}
.titulo-funcional,
.titulo-musculacao,
.titulo-personal-trainer {
  margin-top: 9% !important;
}

h3,h2 {
  font-weight: bold;
  color: #EF4836 !important;
}
.foto img {
  display: block;
  border:5px solid #000;
  border-radius: 50%;
}
#map-canvas {
  width: 90%;
  height: auto;
  background-color: #CCC;
  margin-bottom:5%;
}
#fb-root {
    display: none;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}
object{
  display:none;
}
.paginas {
  opacity: 1.0;
}
.paginas:hover {
  opacity: 0.6;
}
#titulos-fotos-espaco-fisico {
 margin-top: 110px;
}
.titulos-noticias {
 margin-top: 60px;
}

.caixa-de-texto {
  margin-bottom: 10px;
  padding: 10px;
  background: #e0e3e5 !important;
  border-radius: 10px;
}
.caixa-de-texto p span {
  font-weight: bold;
}
.imagens-modalidades {
  margin-top: 20px;
}
#fotos-facebook {
  margin-top: 10px
}
.ps-caption b {
  color: #fff !important;
  font-size: 16px;
}
ul.pgwSlider>li span,
.pgwSlider>.ps-list>li span {
  color: #fff !important;
}
#img-selo {
  width:80px;
  position: fixed;
  right: 2%;
  top: 3%;
  -moz-transform: rotate(25deg); /* firefox */
  -ms-transform: rotate(25deg); /* IE 9 */
  -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
  transform: rotate(25deg);

}
#img-selo img{
  border: 1px solid #000;
}
.carousel-caption{
  display:none;
}
.carousel-indicators li{
  border: 3px solid #757575 !important;
}
iframe{
  width: 100%;
}
