/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 */
@font-face{
  font-family: "Kunstler Script";
  font-style: normal;
  font-weight: normal;
  src: local("Kunstler Script"), url('./fonts/Kunstler.ttf') format('truetype');
}
@font-face{
  font-family: "JasmineUPC";
  font-style: normal;
  font-weight: normal;
  src: local("JasmineUPC"),  local("JasmineUPC, Regular"), url('fonts/JasmineUPC.ttf') format('truetype');
}
@font-face{
  font-family: "Broadway";
  font-style: normal;
  font-weight: normal;
  src: local("Broadway BT"), local("Broadway BT, Regular"), url('fonts/Broadway.ttf') format('truetype');
}
@font-face{
  font-family: "Bauhaus93";
  font-style: normal;
  font-weight: normal;
  src: local("Bauhaus 93"), local("Bauhaus 93, Regular"), url('fonts/Bauhaus93.ttf') format('truetype');
}
@font-face{
  font-family: "CooperBlack";
  font-style: normal;
  font-weight: normal;
  src: local("Cooper Black"), local("Cooper Black, Regular"), url('fonts/CooperBlack.ttf') format('truetype');
}
*{
  font-family: Verdana, Arial, Helvetica;
  color: #000;
}
a{
 color: #000 !important;
}

a:hover{
 color: #CD0000 !important;
 transition: color 0.5s;
 text-shadow: 3px 4px 6px rgba(150, 150, 150, 1);
}
body{
  background: url("/assets/fundo-direita.png") repeat-y right top !important;
  background-color: #000;
  margin: 0;
}
#fundo{
  background:url("/assets/fundo-esquerda.png") repeat-y left top !important;
  padding-top: 12%;
}
#top_wrapper{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff;
  padding-bottom: 7px;
  -moz-box-shadow: 0px 0px 10px #dbdbdb;
  -webkit-box-shadow: 0px 0px 10px #dbdbdb;
}
#top{
  height: 147px;
  margin: 0 auto;
  width: 65%;
  background: url("/assets/fundo-topo.png") no-repeat right top #fff;
}
#top .menu{
  z-index: 2;
  padding: 10px;
  float: right;
  width: 100%;
  margin: 11% 0 0;
  background: #dbdbdb;
  border-radius: 0 20px 20px 30px;
}

.menu ul {
  float: right;
  margin: 0 auto;
  white-space: nowrap;
  list-style: none;
}
.menu ul li {
  float: left;
  z-index: 4;
}
.menu ul li ul {
  padding: 10px 0;
  position: absolute;
  display: none;
  z-index: 1;
}
#top .menu ul li ul {
  background-color: #fff;
}
.menu ul li:hover ul {
  display: block;
}
.menu ul li ul li {
  float: none;
  height: 30px;
}
#top .menu > ul > li > a {
  text-decoration: none;
  color: white;
  padding: 5px 20px 50px;
}
#top .menu ul li ul li a {
  text-decoration: none;
  display: block;
  color: #000 !important;
  padding: 5px 10px;
}

#top .menu ul li a {
  color: #fff !important;
}

#top .menu ul li ul li a:hover,
#top .menu ul li a:hover {
  color: #CD0000 !important;
  transition: color 0.7s;
  background: transparent !important;
}
#top .menu ul li a:hover,
#top .menu ul li a.selecionado {
  color: #CD0000;
}
#logo{
  position: fixed;
  margin: 0 -55px 250px;
}
#logo img{
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}
#container{
  background: #fff;
  margin: 0 auto;
  min-height: 200px;
  padding: 10px 40px;
  width: 70%;
}
#container.centralizado{
  text-align:center;
}
h1 {
  text-align: center;
}
#container #flickr_sets img{
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius:10px;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
}
.texto ul,
.texto ul li{
  list-style: none;
}
.texto .cursos a:hover{
  text-decoration: underline;
}
.texto .cursos a {
  text-decoration: none;
}
/*.texto .cursos a:after{
content: ", ";
}*/
.texto{
  text-align: center;
  width: 350px;
  float: right;
  background-color: rgba(0,0,0,0.1);
  padding: 15px;
  border-radius: 30px;
}
.texto.full{
  width: auto;
  float: none;
}
.esquerda {
  margin-right: 350px;
}
.esquerda * {
  font-size: 12px;
  line-height: 0.5;
}
.titulo{
  line-height: 1.5;
  font-size: 100px;
}
.foto {
  width: 350px;
  float: left;
}
.foto img{
  border: solid 5px;
  border-radius: 30px;
  width: 350px;
}
i{
  clear: both;
  display: block;
}
.box{
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 30px 30px 30px 30px;
}
#horarios{
  text-align: center;
}
.albuns-foto{
  margin-left: 250px;
}
.tip {
  border: solid 2px #000;
  color: #000;
  background: #E5E5E5;
  display:none; /*--Hides by default--*/
  padding:10px;
  position:absolute;
  z-index:1000;
  border-radius: 20px 20px 20px 20px;
  max-width: 500px;
}
.tip img{
  max-width: 140px;
  height: 120px;
  float: left;
  margin-right:20px;
}
ol .tip_trigger{
  max-width: 236px;
  margin-left: 35%;
}
.tip_trigger:hover{
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.espaco{
  margin-bottom: 70px;
}
#container #modalidades h3{
  text-align: center;
}
.ginastica_modalidades{
  margin: 0 300px;
}
#container table tr td{
  border: solid 1px #fff;
}
.sf-menu {position: relative; margin: 0; padding: 0; list-style: none;clear:both; float: left; margin-top: 13px; padding-left: 9px; margin-bottom:1em; z-index: 400;}
.sf-menu a {display: block; position: relative; text-decoration:none; color: #fff; padding: 1px 20px 0px; height: 15px; text-decoration: none;text-shadow: 1px 1px 1px #000; font-weight: normal; float :left;}
.sf-menu li {float: left; position: relative; font-family: Arial, Helvetica, sans-serif; background-position: right 5px;}
.sf-menu li ul li ul {left: 212px; margin-top: 0px;}
.sf-menu li a:hover {transition: color 0.5s; text-shadow: 3px 4px 6px rgba(150, 150, 150, 0.5);}
ul.sf-menu li.backLava{ position: absolute; z-index: 3; background: url('/assets/lavalamp.png') no-repeat; background-position: center 0px; padding:0; height: 16px; margin-top: 26px; width: 50px;}
h1 {
  display: none;
}

.map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
#footer {
  border-top: 1px solid black;
  background-color: #E5E5FF;
  height: auto !important;
}
.inventto{
  float: right;
  margin-top: 9%;
}
.footer-funcionamento {
  width: 30%;
}
.footer-direito {
  float: right;
  width: 30%;
}
.redes-sociais {
  float: left;
  position:relative;
  margin-top: 1%;
}
.redes-sociais a {
  position:relative;
  left: 22%;
}
.endereco{
  text-align: center;
  margin-top: 1%;
}
#carousel-home-fotos .item img {
  width: 100%;
  height: auto !important;
}
#footer table, th, td {
  border: 1px solid black;
  padding: 0;
}
.historia,
.valores {
 float: right;
 width: 60%;
 margin-bottom: 2%;
 background: #000 !important;
 -webkit-border-top-left-radius: 10px;
 -webkit-border-top-right-radius: 10px;
 -webkit-border-bottom-left-radius: 10px;
 -webkit-border-bottom-right-radius: 10px;
}
.valores {
  margin-bottom: 2%;
}
.missao {
 width: 20%;
 float: left;
 margin-left: 12%;
 text-align: center;
 background: #000 !important;
 -webkit-border-top-left-radius: 10px;
 -webkit-border-top-right-radius: 10px;
 -webkit-border-bottom-left-radius: 10px;
 -webkit-border-bottom-right-radius: 10px;
}
.container-fluid .titulo_missao {
  font-weight: bold;
  margin-left: 13% !important;
  margin-top: 4%;
  color: #CD0000 !important;
}
.container-fluid .titulo_valores {
  font-weight: bold;
  margin-left: 41% !important;
  color: #CD0000 !important;
}
.container-fluid .titulo_historia {
  font-weight: bold;
  color: #CD0000 !important;
  margin-top: 2%;
  margin-left: 41% !important;
}
.valores p,
.missao p,
.historia p {
 color: #fff !important;
}
.historia p a {
  color: #CD0000 !important;
  text-decoration: underline;
}
.mapa {
  float: left;
  margin-left: 20%;
  margin-top: 9%;
}
.contato-descricao {
  text-align: center;
  width: 23%;
  float: right;
  background-color: #000;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 4%;
  margin-right: 20%;
}
.contato-descricao h3 strong,
.contato-descricao p {
  color: #fff !important;
}
.title-contato {
  margin-top: 7%;
  margin-left: 58% !important;
  font-weight: bold;
  color: #CD0000 !important;
}
