<!--<div id="top_wrapper">
<div id="top">


</div>-->
<nav class="navbar navbar-default  navbar-fixed-top">

  <div class="container">
    <img id="img-selo" src="/assets/selo.svg" title="Academia Vida mais Ativa" width="100"/>
    <div class="navbar-header">
      <a class="navbar-brand" href="./">
        <div id="logo">
          <a href="/home"><img src="/assets/logo_vida2.svg" title="Academia Vida mais Ativa"/></a>
        </div>
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="./a-academia">A Academia</a></li>
        <li><a href="./equipe">Equipe</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Modalidades<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="./modalidades">Modalidades</a></li>
            <li><a href="#">Musculação</a></li>
            <li><a href="#">Personal Trainer</a></li>
            <li><a href="#">Funcional</a></li>
            <li><a href="#">Alongamento</a></li>
            <li><a href="#">Avaliação Física e Postural</a></li>
            <li><a href="#">Ginástica</a></li>
            <li><a href="#">Aero Dance</a></li>
            <li><a href="#">Aero Jump</a></li>
            <li><a href="#">Aeromix</a></li>
            <li><a href="#">Aerostep</a></li>
            <li><a href="#">Zumba</a></li>
            <li><a href="#">Ginástica Lab</a></li>
          </ul>
        </li>
        <li><a href="./fotos">Fotos</a></li>
        <li><a href="./noticias">Notícias</a></li>
        <li><a href="./contato">Contato</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
