
<nav class="navbar navbar-default">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="./">A Academia</a></li>
      <li><a href="./">Equipe</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Modalidades<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Musculação</a></li>
          <li><a href="#">Personal Trainer</a></li>
          <li><a href="#">Funcional</a></li>
          <li><a href="#">Alongamento</a></li>
          <li><a href="#">Avaliação Física e Postural</a></li>
          <li><a href="#">Ginástica</a></li>
          <li><a href="#">Aero Dance</a></li>
          <li><a href="#">Aero Jump</a></li>
          <li><a href="#">Aeromix</a></li>
          <li><a href="#">Aerostep</a></li>
          <li><a href="#">Zumba</a></li>
          <li><a href="#">Ginástica Lab</a></li>
        </ul>
      </li>
      <li><a href="./">Fotos</a></li>
      <li><a href="./">Notícias</a></li>
      <li><a href="./">Contato</a></li>
    </ul>
  </div><!--/.nav-collapse -->

</nav>
