<b>Horário de Funcionamento:</b>
<table  class="table table-bordered  table-hover " style="text-align: center">
  <tr>
    <th>Manhã</th>
    <td>2ª, 4ª e 6ª <br />  sábado</td>
    <td>7h às 10h  <br />  8h30 às 11h30</td>
  </t r>
  <tr>
    <th>Tarde/Noite</th>
    <td>2ª a 5ª<br />
      6ª</td>
    <td>14h às 00h  <br />
    14h às 22h</td>
  </tr>
</table>
