<table class="tabela-funcionamento" style="text-align: center">
  <thead>
    <tr>
      <th></th>
      <th>
        Horário de Funcionamento:
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      Manhã
    </td>
    <td>
      2ª, 4ª e 6ª <br />
      sábado
    </td>
    <td>
      7h ás 10h  <br />
      8h30 ás 11h30
    </td>
  </tr>
  <tr>
    <td>
      Tarde/Noite
    </td>
    <td>
      2ª, 4ª e 6ª <br />
      sábado
    </td>
    <td>
      7h ás 10h  <br />
      8h30 ás 11h30
    </td>
  </tr>
  </tbody>
</table>

