<!DOCTYPE html>
<html>
  <head>
    <title>Academia Vida Mais Ativa</title>
    <meta charset="utf-8">
    <link href="/assets/application.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/bootstrap.css">
   <body>
  <div id="fundo">
    <div id="top_wrapper">
      <div id="top">
        <div id="logo">
          <a href="index.html"><img src="/assets/logo_vida2.png" title="Academia Vida mais Ativa"/></a>
        </div>
        <div class="menu">
         <%= menu_refinery_top.to_html %>
        </div>
      </div>
    </div>
    <h1><strong>Academia Vida + Ativa</strong></h1>
    <div id="container">
      <%= yield %>
      <i></i>
    </div>
    <a class="inventto" href="http://www.invent.to"><img src="/assets/logo_footer.png"/></a>
</body>
    <script src="/assets/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/assets/bootstrap.js"></script>
    <script type="text/javascript">
     $(document).ready(function(){
            $(function() {
                var nav = $('#top_wrapper');
                var img = $('#logo img');
                var navHomeY = 90;
                var imgHomeY = 0;
                var $w = $(window);
                ajustarMenu = function() {
                        var scrollTop = $w.scrollTop();
                        if (scrollTop < navHomeY) {
                            nav.css({
                                    top: "-"+scrollTop+"px"
                                });
                        }
                        else {
                            nav.css({
                                    top: "-"+navHomeY+"px"
                                });
                        }
                        imgWidth = 300 - scrollTop;
                        imgLeft = scrollTop / 5;
                        if (imgWidth < 96)
                          imgWidth = 70;
                        if (imgLeft > 40)
                          imgLeft = 40;
                        img.css({position: "fixed", marginLeft: imgLeft + "px", top: 0, width: imgWidth+"px"});
                };
                $w.scroll(ajustarMenu);
                ajustarMenu();
            });
     });
   </script>
</html>
